In [2]:
from constants import *
from obfuscation import *
from run_obfuscation import * 
from data_utils import *
from stereo_utils import *
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import pickle
from pathlib import Path

In [14]:
dataset_files = list(read_dataset_to_obfuscate(f"{ROOT_DIR}/obfuscation/ml-1m"))
original_data = { data_slice:transform_to_obf(data) for data_slice,data in zip(['train','valid','test'],dataset_files)}

In [15]:
data_dir = f"{ROOT_DIR}/obfuscation/ml-1m"
def calculate_dataset_stereo(data_dir,stereo_types=["mean","median"]):
    train_data, valid_data, test_data, inclination_data, user_features, dataset_name  = read_dataset_to_obfuscate(data_dir)
    for stereo_type in stereo_types:
        user_stereo_scores = []
        for user  in user_features["userID"].values:        
            user_data, valid_user_items, user_ff_values, user_stereo_score = (ff_data=inclination_data,sterotyp_method=stereo_type,train_data=train_data,user=user)
            user_stereo_scores.append(user_stereo_score)
        user_features[f"stereo_{stereo_type}"] = user_stereo_scores
    return user_features
def read_dataset_stereo(data_dir):
    dataset_name = data_dir.split("/")[-1]
    return pd.read_csv(f"{data_dir}/{dataset_name}_user_ster.csv",index_col="userID")

In [16]:
original_data

{'train':         userID  itemID  rating  timestamp gender    tr
 0            1    1193       5  978300760      F  True
 1            1     914       3  978301968      F  True
 2            1    3408       4  978300275      F  True
 3            1    2355       5  978824291      F  True
 4            1    1197       3  978302268      F  True
 ...        ...     ...     ...        ...    ...   ...
 635340    6040    2028       5  956704519      M  True
 635341    6040    1080       4  957717322      M  True
 635342    6040    1090       3  956715518      M  True
 635343    6040    1091       1  956716541      M  True
 635344    6040    1094       5  956704887      M  True

 [635345 rows x 6 columns],
 'valid':         userID  itemID  rating  timestamp gender     tr
 0            1     919       4  978301368      F  False
 1            1    2398       4  978302281      F  False
 2            1    3105       5  978301713      F  False
 3            1    1270       5  978300055      F  False
 4            1      48       5  978824351      F  False
 ...        ...     ...     ...        ...    ...    ...
 161925    6040     541       4  956715288      M  False
 161926    6040    1079       2  956715648      M  False
 161927    6040    1089       4  956704996      M  False
 161928    6040    2022       5  956716207      M  False
 161929    6040    3182       5  984195682      M  False

 [161930 rows x 6 columns],
 'test':         userID  itemID  rating  timestamp gender     tr
 0            1     783       4  978824291      F  False
 1            1    2762       4  978302091      F  False
 2            1    2692       4  978301570      F  False
 3            1    1207       4  978300719      F  False
 4            1     531       4  978302149      F  False
 ...        ...     ...     ...        ...    ...    ...
 202331    6040    2575       4  997453762      M  False
 202332    6040    1912       3  964828542      M  False
 202333    6040    3504       4  960971857      M  False
 202334    6040     300       2  956704716      M  False
 202335    6040    1097       4  956715569      M  False

 [202336 rows x 6 columns]}

In [13]:
user_stereo_values

      userID      mean    median  inc_ratio
0          1 -0.076683 -0.090581   0.859611
1          2  0.177776  0.189374   2.185567
2          3  0.236727  0.255739   8.629630
3          4  0.384424  0.367851   9.000000
4          5  0.071505  0.121801   1.861215
...      ...       ...       ...        ...
6035    6036  0.111270  0.161012   1.855789
6036    6037  0.171431  0.190321   3.772138
6037    6038 -0.053764 -0.016466   1.181818
6038    6039 -0.110431 -0.125138   0.701145
6039    6040  0.131003  0.183606   2.583820

[6040 rows x 4 columns]